.homeContainer {
  display: flex;
  flex-direction: column;
}

.imagemHeader {
  background-image: url("../../assets/Header.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
  overflow: hidden;
  z-index: 10;
  position: relative;
}

.imagemHeader::before {
  content: "";
  position: absolute;
  inset: 0;
  /* background-image: linear-gradient(to left, #ffffff, transparent); */
  background: #2a7b9b;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 0) 21%,
    rgba(255, 255, 255, 1) 52%,
    rgba(255, 255, 255, 1) 100%
  );
  z-index: 1;
  height: 240px;
}

.textHeader {
  font-size: 1.5rem;
  z-index: 2;
  border: 5px solid var(--color-icon);
  padding: 10px;
  border-radius: 15px;
  color: var(--color-icon);
  font-family: var(--title-font);
  line-height: 1.5;
  max-width: 500px;
  text-align: center;
}

h2 {
  font-weight: 500;
}

.spanStrong {
  color: var(--color-dark);
  font-family: var(--title-font);
}

.containerBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.titleBody {
  margin-top: 15px;
  padding: 10px 110px;
  border: 5px solid var(--color-icon);
  border-radius: 15px;
  font-family: var(--title-font);
  font-size: 1.6rem;
}

.buttonPage {
  display: flex;
  flex-direction: column;
  width: 250px;
  text-align: center;
  button {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    margin-bottom: 10px;
  }
}

.containerButton {
  display: flex;
  gap: 45px;
  justify-content: center;
}

.buttonImage1 {
  background-image: url("../../assets/CadastroPlanta.png");
}

.buttonImage2 {
  background-image: url("../../assets/CadastroFazenda.png");
}

.buttonImage3 {
  background-image: url("../../assets/CadastroFuncionario.png");
}

.buttonImage1:hover,
.buttonImage2:hover,
.buttonImage3:hover {
  cursor: pointer;
}

.buttonImage1,
.buttonImage2,
.buttonImage3 {
  background-size: cover;
  background-position: center;
  padding: 28px 35px;
  border: none;
  border-radius: 15px;
  z-index: 3;
}

.containerFooter {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}

.titleFooter {
  font-family: var(--title-font);
  padding: 10px 110px;
  border: 5px solid var(--color-icon);
  border-radius: 15px;
  z-index: 2;
}

.imagemFooter {
  background-image: url("../../assets/Relatorios.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 90%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 20px;
  overflow: hidden;

  padding: 10px 110px;
  border-radius: 15px;

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.imagemFooter::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to top, #ffffff 20%, transparent 50%);
  z-index: 1;
}

.textFooter {
  color: var(--color-icon);
  font-family: var(--title-font);
  font-size: 1.7rem;
  z-index: 2;
  width: 400px;
  text-align: center;
}

@media (max-width: 500px) {
  .imagemHeader {
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 0 20px;
    margin: 0;
    margin-bottom: 20px;
    overflow: hidden;
    z-index: 10;
    position: relative;
  }

  .imagemHeader::before {
    content: "";
    position: absolute;
    inset: 0;
    /* background-image: linear-gradient(to left, #ffffff, transparent); */
    background: #2a7b9b;
    background: linear-gradient(
      180deg,
      rgba(42, 123, 155, 0) 21%,
      rgba(255, 255, 255, 1) 52%,
      rgba(255, 255, 255, 1) 100%
    );
    z-index: 1;
    height: 290px;
  }

  .textHeader {
    font-size: 1.2rem;
    padding: 8px;
    max-width: 80%;
    z-index: 2;
    border: 5px solid var(--color-icon);
    border-radius: 15px;
    color: var(--color-icon);
    font-family: var(--title-font);
    line-height: 1.5;
    text-align: center;
  }

  .titleBody {
    padding: 10px 30px;
    font-size: 1.4rem;
  }

  .buttonPage {
    width: 200px;
  }

  .containerButton {
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }

  .imagemFooter {
    height: 200px;
    width: 100%;
  }

  .textFooter {
    font-size: 1.4rem;
    width: 250px;
  }

  .imagemFooter::before {
    background-image: linear-gradient(to top, #ffffff 60%, transparent 70%);
  }
}
@media (max-width: 860px) {
  .containerButton {
    gap: 30px;
    flex-wrap: wrap;
  }

  .imagemHeader {
    padding-right: 20px;
  }

  .imagemHeader {
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 20px 20px;
    margin: 0;
    margin-bottom: 20px;
    overflow: hidden;
    z-index: 10;
    position: relative;
  }

  .imagemHeader::before {
    content: "";
    position: absolute;
    inset: 0;
    /* background-image: linear-gradient(to left, #ffffff, transparent); */
    background: #2a7b9b;
    background: linear-gradient(
      180deg,
      rgba(42, 123, 155, 0) 21%,
      rgba(255, 255, 255, 1) 45%,
      rgba(255, 255, 255, 1) 100%
    );
    z-index: 1;
    height: 290px;
  }

  .imagemFooter::before {
    background-image: linear-gradient(to top, #ffffff 30%, transparent 50%);
  }
}
