@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Afacad&family=Baloo&display=swap");

:root {
  --color-green: #2c4628;
  --color-dark: #1c1f26;
  --color-orange: #c95b00;
  --color-gray: #535f50;
  --color-lightdark: rgba(28, 31, 38, 0.95);
  --color-white: #ffffff;
  --color-input: #cd600399;
  --color-icon: #cb5e00;
  --color-black: #000000;
  --color-button: #cd6003;

  --title-font: "ADLaM Display", cursive;
  --body-font: "Afacad", sans-serif;
  --botton-font: "Baloo", cursive;
}

* {
  font-family: var(--body-font);
}

h1 {
  font-family: var(--title-font);
  font-style: normal;
}

button {
  margin-top: 10px !important;
  font-family: var(--botton-font);
  font-weight: 100 !important;
  font-size: 22px !important;
}

label,
input,
select,
textarea {
  font-size: 18px !important;
}
